.login_form {
  position: absolute;
  width: 400px;
  padding: 40px;
  background: #0113599d;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login_form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login_form .user_form {
  position: relative;
}

.login_form .user_form input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login_form .user_form label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login_form .user_form input:focus ~ label,
.login_form .user_form input:valid ~ label {
  top: -20px;
  color: white;
  font-size: 12px;
}

.login_btn {
  margin-top: 20px;
  background-color: white;
  width: 100px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s; /* Adding a transition for a smooth effect */
}

.login_btn:hover {
  width: 120px;
  padding: 10px;
  font-size: 18px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .login_form {
    width: 300px;
  }
}
