.compose {
  padding: 20px;
}
.compose > form > div {
  margin: 20px;
}

.compose > h2 {
  text-align: center;
}

.compose > form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  overflow-y: auto;
}

.button_com {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button_com > button {
  height: 40px;
  width: 150px;
  background-color: rgba(2, 15, 123, 1);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}
